header {
    a {
        text-decoration: none;
        color: $black;
        
        &.logo {
            p {
                @include serif_font(3);
            }
        }
    }
}

.absolute {
    background-color: $ghostwhite;
    position: absolute; 
    display: initial;
    background-image: url(/odm_prototype/pde_prototype/screenshot.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}