/*
--------------------------------------------------------------------------------
COLORS - alphabetical order
--------------------------------------------------------------------------------
*/
$black:      #000000;
$white:      #ffffff;
$ghostwhite: #fafafa;
$yellow:     #Ffff00;
$red:        #ff0000;
$blue:       #0000ff;
